---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
				<h4>O que nos move?</h4>
                <p>Nascemos do interesse comum na promoção do software livre para Sistemas de Informação Geográfica.</p>
                <p>À semelhança da OSGeo internacional, a OSGeo-PT é uma associação sem fins lucrativos com o objectivo de suportar e promover o desenvolvimento e a utilização de tecnologias, padrões, e dados Livres.</p>
                <p><br/><a href="#" class="btn btn-theme">Saber mais...</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>O que fazemos?</h4>
                <p>A OSGeo tenta fomentar a colaboração e partilha dos membros da comunidade SIG portuguesa, acreditando sempre no poder da colaboração e é assim que desde de 2010 que através da partilha de ferramentas, ideias e processos em torno do SIG open-source</p>
                <p>Escolhe como participar na comunidade!</p>
                <p><br/><a href="#" class="btn btn-theme">Saber mais...</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-calendar"></i>
               <h4>Eventos & Iniciativas</h4>
                <div class="list-group">
			<a href="#" class="list-group-item active">
			<h4 class="list-group-item-heading">18 SET. 14:30</h4>
			<p class="list-group-item-text">Assembleia Geral</p>
			</a>
				<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">20 OUT.</h4>
			<p class="list-group-item-text">Reunião Mensal</p>
			</a>
			<a href="http://www.jiide.org/" target="_blank" class="list-group-item">
			<h4 class="list-group-item-heading">5 - 7 NOV.</h4>
		<p class="list-group-item-text">V Jornadas Ibéricas de Infraestruturas de Dados Espaciais</p>
		</a>
</div>	 				
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="Projectos OSGeo-PT" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>Mais sobre nós</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Perguntas</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Últimas...</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->