<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Ainda sobre nós</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-6">
                <h4>A OSGEO-PT por aí</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
                <a href="https://plus.google.com/100506042604914803258" rel="publisher"></a>
            </div>
            <!--<div class="col-lg-4">
                <h4>Our Bunker</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>-->
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->