<div id="headerwrap">
    <div class="container">
        <div class="row">
        <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <!--<ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                
                  <!-- Wrapper for slides -->
                  <!--<div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/img/main_osgeo.png" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/img/main_osgeo1.png" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/img/blog/logo_sasig.png" alt="">
                    </div>
                  </div>
                </div>--><! --/Carousel -->
         	<div class="col-lg-8 col-lg-offset-2 himg">
                <a href="/sasig2015/index.html" target="_blank"> <img src="{{ "/assets/img/main_sasig.png" | prepend: site.baseurl }}" class="img-responsive"></a>
                </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 style="margin-top: 0px"> <!-- necessário para o texto em cima da imagem -->
                <h3>As últimas novidades do</h3>
                <a href="/sasig2015/index.html" target="_blank"><h1>SASIG 2015</h1></a>               				
            </div>            
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->