---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-6 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-3 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Detalhes do projeto</h4>
            <div class="hline"></div>
            <p><b>Data:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Autor:</b> {{ page.author }}</p>
            <p><b>Categoria:</b> {{ page.categories }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html title="Outros projetos" limit=5 %}